body {
  text-align: center;
  background: #DA4453;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

.w {
  background-image: url("./images/crash.png") ;

}

.a {
   background-image: url("./images/kick.png") ;

}

.s {
   background-image: url("./images/snare.png") ;

}

.d {
    background-image: url("./images/tom1.png") ;
}

.j {
   background-image: url("./images/tom2.png") ;

}

.k {
   background-image: url("./images/tom3.png") ;

}

.l {
   background-image: url("./images/tom4.png") ;

}

.set {
  margin: 10% auto;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
